.clip-text {
  background: url(https://media0.giphy.com/media/l0HlGdXFWYbKv5rby/giphy.gif);
  background-size: cover;
  background-position: center;
  
  -webkit-background-clip: text;
  color: transparent; // set to transparent, otherwise won't see the background
  
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  font-size:98px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  flex-shrink: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: purple;
  font-family: 'Baloo Bhai', cursive;
  font-size: 16px;
  line-height: 1.25em;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100%;
  padding: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
